<nav class="bg-blue-600 text-white px-6 py-4 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
      <div class="text-xl font-semibold">MonApp</div>
      <ul class="flex space-x-6">
        <li>
          <button><a routerLink="/acceuil" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg transition duration-200"
            >Acceuil</a> </button > 
          </li>
        <li>
          <a href="/historique" class="hover:text-blue-200 transition">Historique</a>
        </li>
        <li>
          <a href="/parametres" class="hover:text-blue-200 transition">Paramètres</a>
        </li>
      </ul>
    </div>
  </nav>
  